@charset "UTF-8";
body,div,img,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
input,img,button{border:0; outline: none; margin: 0; padding: 0;}
ul,ol{list-style: none}
fieldset, img, input,button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
input,button{padding-bottom: 0; padding-top: 0;}
select,input,button{vertical-align:middle}
textarea{resize: none;}
img{border:0; vertical-align: middle;}
table{border-collapse: collapse;}
a{color: #000;text-decoration: none;font-size: 15px}
a:hover{color: #f21e3e}
.w{
    width:1200px;
    margin:0 auto;}
.fr{
    float: right;
}
body {
    background: url(../images/back.jpg) repeat;
    background-position: top center;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#venusLogo p {
    font-family: 'Montez', cursive;
    font-size:55px;
    color:#ffffff;
    text-shadow: 2px 2px 0 #ca2d1d;
    margin:15px 0 0 330px;
    padding-right: 30px;
    float:left;
    /* background-image: url(../images/logoLeaf.png);*/
    background-repeat: no-repeat;
    background-size: 22px 26px;
    background-position: right;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 300;
}
#mainMenuBg {
    background: url(../images/menubar.png) no-repeat;
    width: 1002px;
    height: 95px;
    margin: 0 auto;
    color:#000;
}

#mainMenuLeft {
    float: left;
    margin-left:100px;
    margin-top: 20px;
}

#mainMenuRight {
    float: right;
    margin-right:147px;
    margin-top: 20px;
}

#mainMenuLeft li, #mainMenuRight li {
    list-style: none;
    float:left;
    font-family: Georgia, "Times New Roman",Times, serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 38px;
}

#mainMenuLeft li a, #mainMenuRight li a {
    color: #642424;

}

#mainMenuLeft li a:hover, #mainMenuRight li a:hover {
    color: #f21e3e;
}

#mainMenuLeft li a.active, #mainMenuRight li a.active {
    color: #f21e3e;
    background-image: url(../images/menuItemActive.png);
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: 43px 12px;
    padding-bottom:5px;
}

/* Dropdown menu */

#mainMenuRight.dropdown li ul, #mainMenuLeft.dropdown li ul {
    background: #f21e3e;
    display:none;
    position: absolute;
    top: 45px;
    z-index: 1308;
    width: 154px;
    padding:0;
    margin:0;
    font-size:13px;
    /* border radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box shadow */
    box-shadow: 0 0 1px #f21e3e;
}

#mainMenuRight.dropdown li ul li, #mainMenuLeft.dropdown li ul li {
    float:left;
    padding: 10px 15px;
    margin:0;
    clear:both;
    position: relative;
    width: 100%;
    height: 100%;
}

#mainMenuRight.dropdown li ul li.first, #mainMenuLeft.dropdown li ul li.first {
    background: url(../images/dropdownTriangle.png) 0 top no-repeat;
    background-size: 154px 6px;
    margin-top: -6px;
    padding-top: 20px !important;
}

#mainMenuRight.dropdown li ul li.last, #mainMenuLeft.dropdown li ul li.last {
    padding-bottom: 20px !important;
}

#mainMenuRight.dropdown li ul li a, #mainMenuLeft.dropdown li ul li a {
    text-transform: none;
    font-weight: 300;
    width: 100%;
    height: 100%;
    display: block;
}

#mainMenuRight.dropdown li ul li a:hover, #mainMenuLeft.dropdown li ul li a:hover {
    color: #f21e3e;
}


/*
 ***************************************************************************************************
 **								1.6 QUOTE | PAGETITLE | BREADCRUMBS								  **
 ***************************************************************************************************
*/

#headerContainer {
    position: relative;
    z-index: 50;
    height: 215px;
    margin-bottom:50px;
}

#QuotePagetitleBreadcrumbsWrapper {
    width: 960px;
    margin: 0 auto;
    position:relative;
    z-index:-10;
    top:-100px;

}

#QuotePagetitleContainer {
    background: #fbfbfb;
    min-height: 150px;
    display:block;
}

#QuotePagetitleContainer p {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #642424;
    text-align: center;
    padding-top:120px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 300;
}
#subtitleBreadcrumbsContainer {
    background: url(../images/pageTitleQuoteContainerBottomBar.png) repeat-x;
    height:51px;
    background-position: bottom;
    position: relative;
}

#headerContainer {
    position: relative;
    z-index: 50;
    height: 215px;
    margin-bottom:50px;
}
#QuotePagetitleBreadcrumbsWrapper {
    width: 960px;
    margin: 0 auto;
    position:relative;
    z-index:-10;
    top:-100px;

}
#QuotePagetitleContainer p {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #642424;
    text-align: center;
    padding-top:120px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 300;
}


.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.reci{
    margin:5px auto 10px;
    width: 945px;
    background-color:  #fbfbfb;
    padding: 10px;
    border: 1px solid #3c3c3c;
}
.reci h1{
    text-align: center;
}